.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 150px;
}

th,
td {
  border: 1px solid #f9f9f9;
  padding: 0.5rem;
  white-space: nowrap;
}

th {
  background-color: #c9dff2;
  color: #2c5a7b;
}

tr:nth-child(odd) {
  background-color: #f3f9fc;
}

td {
  color: #a4a4a4;
}

.checkboxCol {
  text-align: center;
}

input {
  cursor: pointer;
}

.statusCol {
  text-align: start;
}
